h1 {
    text-align: center;
}

.main-button-container {
    text-align: center;
}

.background-gray {
    background: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    padding: 15px 10px;
}

.background-gray h4 {
    text-align: center;
}

table {
    background: #FFF;
}

.profile-picture {
    max-height: 200px;
    max-width: 300px;
}

.tutor-block img  {
   width: 100%;
}

/****************************
*    Conner's Styles        *
****************************/
.tutor-block{
    position:relative;
}
.nameAndAbilities{
    background-color: rgba(255,255,255,0.8);
    position:absolute;
    bottom:0px;
    width: 100%;
}
.nameAndAbilities h3{
    padding:0 0 0 12px;
    margin: 0.25em 0;
}
.nameAndAbilities p{
    padding:0.25em 12px;
}
.sandbox-logo img{
    width: 100%
}
.image{
    height:300px;
    background-size:cover;
}

/*Zhe's style*/

.hidden{
    
    display: none;
}

.date_section_header{
    
    font-size: 18px;
    position: relative;
    font-family: sans-serif;
    display: inline;
    padding-top: 7px;
}

.date_section{
    width:130px;
}

.btn-position{
    
    
    position:relative;
    margin-bottom: 11px;
    margin-left:10px;
    height: 30px;
    
}


/*admin reports style*/

.report_list{
    
    list-style-type: none;
    border: 1px dashed green;

}



.report_list p{
    
    font-size: large;
    font-family: sans-serif;
    text-align: left;
    color: red;
    
}

.report_list table{
    
    width: 700px;
    border-bottom: 1px dashed red;
}

#instruction{
    
    font-size: small;
    margin-left: 5px;
    margin-top:10px;
    margin-bottom: 10px;
    
}

.report_list li{
    
    margin-bottom: 20px;
}