h1 {
    text-align: center;
}

.main-button-container {
    text-align: center;
}

.background-gray {
    background: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    padding: 15px 10px;
}

.background-gray h4 {
    text-align: center;
}

table {
    background: #FFF;
}

.profile-picture {
    max-height: 200px;
    max-width: 300px;
}

.tutor-block img  {
   with: 100%;
}

/****************************
*    Conner's Styles        *
****************************/
.tutor-block{
    position:relative;
}
.nameAndAbilities{
    background-color: rgba(255,255,255,0.8);
    position:absolute;
    bottom:0px;
    width: 100%;
}
.nameAndAbilities h3{
    padding:0 0 0 12px;
    margin: 0.25em 0;
}
.nameAndAbilities p{
    padding:0.25em 12px;
}
.sandbox-logo img{
    width:100%;
}