h1 {
    text-align: center;
}

.main-button-container {
    text-align: center;
}

.background-gray {
    background: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    padding: 15px 10px;
}

.background-gray h4 {
    text-align: center;
}

table {
    background: #FFF;
}

.profile-picture {
    max-height: 200px;
    max-width: 300px;
}

.tutor-block img  {
   with: 100%;
}
