<template name="dashboard">
    <h1>Dashboard</h1>
    <h2>
        Hello,
        {{currentUser.profile.name}}
    </h2>
    {{{showDynamicContent}}}
    <button class="btn btn-danger" id="logout">Logout</button>
</template>

<template name="tutordashboard">
	<button class="btn {{#if currentlyTutoring}}btn-danger{{else}}btn-success{{/if}}" id="tutorButton">
        {{#if currentlyTutoring}}Stop Working{{else}}Start Working{{/if}}
    </button>
</template>

<template name="admindashboard">
    <table class="table table-bordered">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role(s)</th>
        </thead>
        <tbody>
            {{#each users}}
                {{> userstable}}
            {{/each}}
        </tbody>
    </table>
    {{> createuser}}
</template>

<template name="userstable">
    <tr>
        <td>{{_id}}</td>
        <td>{{profile.name}}</td>
        <td>
            {{#each emails}}
                {{address}}
            {{/each}}
        </td>
        <td>{{roles}}</td>
        <td><button class="btn btn-danger" id="deleteUser">Delete User</button></td>
    </tr>
</template>

<template name="createuser">
    <h2>Create New User</h2>
    <form class="form-horizontal" id="createUserForm">
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputShortname">Shortname</label>
            <div class="controls">
                <input type="text" id="inputShortname" placeholder="Shortname">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
                <input type="text" id="inputName" placeholder="Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputRole">Role</label>
            <div class="controls">
                <select id="inputRole">
                    {{#each roles}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
                <input type="password" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success" id="inputSubmit">Submit</button>
            </div>
        </div>
    </form>
</template>

<template name="professordashboard"></template>