<!-- MAIN TEMPLATE -->
<template name="dashboard">
    <h1>Dashboard</h1>
    <h2>
        Hello,
        {{currentUser.profile.name}}
    </h2>
    {{{showDynamicContent}}}
    <button class="btn btn-danger" id="logout">Logout</button>
</template>

<!-- MAIN TUTOR DASHBOARD TEMPLATE -->
<template name="tutordashboard">
    {{> edituser}}
	<button class="btn {{#if currentlyTutoring}}btn-danger{{else}}btn-success{{/if}}" id="tutorButton">
        {{#if currentlyTutoring}}Stop Working{{else}}Start Working{{/if}}
    </button>
</template>

<!-- TUTOR EDIT USER TEMPLATE -->
<template name="edituser">
    <h3>Edit User Data</h3>
    <form class="form-horizontal" id="editUserForm">
        <!-- IMAGE UPLOAD SHOULD GO HERE -->
        <div class="control-group">
            <label class="control-label" for="editUserName">Name</label>
            <div class="controls">
                <input type="text" id="editUserName" placeholder="Name" value="{{currentUser.profile.name}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="editCourses">Courses</label>
            <div class="controls">
                {{#each courses}}
                    {{> courseselect}}
                {{/each}}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" id="editUserSubmit">Save</button>
            </div>
        </div>
    </form>
</template>

<!-- TUTOR SELECT TEMPLATE -->
<template name="courseselect">
    <label class="checkbox inline">
        <input type="checkbox" class="canTutor" id="inlineCheckbox{{abbr}}" {{#if selected}}}checked{{/if}} value="{{abbr}}"> {{abbr}}
    </label>
</template>

<!-- MAIN ADMIN DASHBOARD TEMPLATE -->
<template name="admindashboard">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role(s)</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                {{> userstable}}
            {{/each}}
        </tbody>
    </table>
    {{> createuser}}
</template>

<!-- ADMIN USERS TABLE TEMPLATE -->
<template name="userstable">
    <tr>
        <td>{{_id}}</td>
        <td>{{profile.name}}</td>
        <td>
            {{#each emails}}
                {{address}}
            {{/each}}
        </td>
        <td>{{roles}}</td>
        <td><button class="btn btn-danger" id="deleteUser">Delete User</button></td>
    </tr>
</template>

<!-- ADMIN CREATE USER TEMPLATE -->
<template name="createuser">
    <h3>Create New User</h3>
    <form class="form-horizontal" id="createUserForm">
        <div class="control-group">
            <label class="control-label" for="createUserEmail">Email</label>
            <div class="controls">
                <input type="text" id="createUserEmail" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="createUserShortname">Shortname</label>
            <div class="controls">
                <input type="text" id="createUserShortname" placeholder="Shortname">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="createUserName">Name</label>
            <div class="controls">
                <input type="text" id="createUserName" placeholder="Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="createUserRole">Role</label>
            <div class="controls">
                <select id="createUserRole">
                    {{#each roles}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="createUserPassword">Password</label>
            <div class="controls">
                <input type="password" id="createUserPassword" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success" id="createUserSubmit">Submit</button>
            </div>
        </div>
    </form>
</template>

<!-- MAIN PROFESSORS DASHBOARD -->
<template name="professordashboard"></template>