<!-- MAIN TEMPLATE -->
<template name="dashboard">
    <h2>
        Hello,
        {{currentUser.profile.name}}
    </h2>
    <div class="container-fluid">
        <div class="row-fluid show-grid">
            <div class="span3 background-gray">
                <h4>Quick Links</h4>
                <br />
                <button class="btn btn-large btn-block {{#if currentlyTutoring}}btn-danger{{else}}btn-success{{/if}}" id="tutorButton">
                    {{#if currentlyTutoring}}Stop Working{{else}}Start Working{{/if}}
                </button>
                <button class="btn btn-large btn-block btn-primary" id="tutorqueue">Tutor Queue</button>
                <button class="btn btn-large btn-block btn-danger" id="logout">Logout</button>
                <br />
                <a href="http://blackboard.bentley.edu" class="btn btn-block" target="_blank">Blackboard Site</a>
                <a href="http://cis.bentley.edu/sandbox" class="btn btn-block" target="_blank">Sandbox Blog</a>
            </div>
            <div class="span9">{{{showDynamicContent}}}</div>
        </div>
    </div>
</template>

<!-- MAIN TUTOR DASHBOARD TEMPLATE -->
<template name="tutordashboard">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">My Profile</a></li>
            <li><a href="#tab2" data-toggle="tab">My Hours</a></li>
            <li><a href="#tab3" data-toggle="tab">My Tutoring History</a></li>
        </ul>
        <div class="tab-content background-gray">
            <div class="tab-pane active" id="tab1">
                <h2>My Profile</h2>
                {{> edituser}}
            </div>
            <div class="tab-pane" id="tab2">
                <h2>My Hours</h2>
            </div>
            <div class="tab-pane" id="tab3">
                <h2>My Tutoring History</h2>
            </div>
        </div>
    </div>
</template>

<!-- TUTOR EDIT USER TEMPLATE -->
<template name="edituser">
    <form class="form-horizontal" id="editUserForm">
        <!-- IMAGE UPLOAD SHOULD GO HERE -->
        <div class="control-group">
            <label class="control-label" for="editUserName">Name</label>
            <div class="controls">
                <input type="text" id="editUserName" placeholder="Name" value="{{currentUser.profile.name}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="editCourses">Courses</label>
            <div class="controls">
                {{#each courses}}
                    {{> courseselect}}
                {{/each}}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" id="editUserSubmit">Save</button>
            </div>
        </div>
    </form>
</template>

<!-- TUTOR SELECT TEMPLATE -->
<template name="courseselect">
    <label class="checkbox inline">
        <input type="checkbox" class="canTutor" id="inlineCheckbox{{abbr}}" {{#if selected}}}checked{{/if}} value="{{abbr}}"> {{abbr}}
    </label>
</template>

<!-- MAIN ADMIN DASHBOARD TEMPLATE -->
<template name="admindashboard">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role(s)</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                {{> userstable}}
            {{/each}}
        </tbody>
    </table>
    {{> createuser}}
</template>

<!-- ADMIN USERS TABLE TEMPLATE -->
<template name="userstable">
    <tr>
        <td>{{_id}}</td>
        <td>{{profile.name}}</td>
        <td>
            {{#each emails}}
                {{address}}
            {{/each}}
        </td>
        <td>{{roles}}</td>
        <td><button class="btn btn-danger" id="deleteUser">Delete User</button></td>
    </tr>
</template>

<!-- ADMIN CREATE USER TEMPLATE -->
<template name="createuser">
    <h3>Create New User</h3>
    <form class="form-horizontal" id="createUserForm">
        <div class="control-group">
            <label class="control-label" for="createUserEmail">Email</label>
            <div class="controls">
                <input type="text" id="createUserEmail" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="createUserShortname">Shortname</label>
            <div class="controls">
                <input type="text" id="createUserShortname" placeholder="Shortname">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="createUserName">Name</label>
            <div class="controls">
                <input type="text" id="createUserName" placeholder="Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="createUserRole">Role</label>
            <div class="controls">
                <select id="createUserRole">
                    {{#each roles}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="createUserPassword">Password</label>
            <div class="controls">
                <input type="password" id="createUserPassword" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success" id="createUserSubmit">Submit</button>
            </div>
        </div>
    </form>
</template>

<!-- MAIN PROFESSORS DASHBOARD -->
<template name="professordashboard"></template>