<template name="login">
	<h1>Login to Sandbox Swipe System</h1>
	{{#if user}}
		<h2>Hello {{user.username}}</h2>
		<button class="btn btn-danger" id="logout">Logout</button>
	{{else}}
	<form id="login-form" class="form-horizontal">
      <div class="control-group">
      	<label class="control-label" for="inputEmail">Email:</label>
      	<div class="controls">
			<input type="email" id="inputEmail" />
		</div>
      </div>
      <div class="control-group">
      	<label class="control-label" for="inputPassword">Password:</label>
      	<div class="controls">
			<input type="password" id="inputPassword" />
		</div>
      </div>
      <div class="control-group">
      	<div class="controls">
			<input type="submit" id="inputSubmit" value="Sign in" />
		</div>
      </div>
   </form>
   {{/if}}
</template>