<template name="swipescreen">
    <h1>Swipe In</h1>
{{{showDynamicContent}}}
</template>

<template name="useridentry">
	<div class="enter-id">
    	<input type="password" id="student-id-entry" />
    </div>
</template>

<template name="studenthelp">
	<h2>Hello, {{studentName}}</h2>
    <button class="btn btn-primary" id="needHelp">Need Help?</button>
    <button class="btn btn-primary" id="noHelp">Just Chillin'</button>
</template>

<template name="courseselection">
    <h2>Please select the course you need help with:</h2>
    <div class="courses">
        {{#each courses}}
            <button class="btn btn-info" value="{{abbr}}">{{abbr}}</button>
        {{/each}}
    </div>
</template>