<template name="swipescreen">
    <div class="sandbox-logo">
        <img src="logo.png">
    </div>
    <h1>Swipe In</h1>
    {{{showDynamicContent}}}
    {{> currenttutors}}
</template>

<template name="currenttutors">
    <h2>Tutors Available:</h2>
    <div class="row-fluid">
    {{#each tutors}}
        <div class="span4 tutor-block">
            <img src="{{profile.picture}}" />
            <div class="nameAndAbilities">
                <h3>{{profile.name}}</h3>
                <p>
                    {{#each profile.canTutor}}
                        <span class="label label-info">{{this.abbr}}</span>
                    {{/each}}
                </p>
            </div>
        </div>
    {{/each}}
    </div>
</template>

<template name="useridentry">
	<div class="enter-id">
    	<input type="password" id="student-id-entry" autofocus />
    </div>
</template>
<template name="studenthelp">
	<h2>Hello, {{studentName}}</h2>
    <button class="btn btn-primary" id="needHelp">Need Help?</button>
    <button class="btn btn-primary" id="noHelp">Just Chillin&rsquo;</button>
</template>

<template name="courseselection">
    <h2>Please select the course you need help with:</h2>
    <div class="courses">
        {{#each courses}}
            <button class="btn btn-info" value="{{abbr}}">{{abbr}}</button>
        {{/each}}
    </div>
</template>
