<template name="swipescreen">
    <div class="sandbox-logo">
        <img src="logo3.png">
    </div>
    {{#if first_screen}}
        <h1>Swipe In</h1>
    {{/if}}
        {{{showDynamicContent}}}
    {{> currenttutors}}
</template>

<template name="currenttutors">
    <h2>Tutors Available:</h2>
    <div class="row-fluid">
    {{#each tutors}}
    <div class="span{{setSpan}} tutor-block">
            <!-- <img src="{{profile.picture}}" /> -->
            <div class="image" style="background-image: url('{{profile.picture}}')">
                <div class="nameAndAbilities">
                    <h3>{{profile.name}}</h3>
                    <p>
                        {{#each profile.canTutor}}
                            <span class="label label-info">{{this}}</span>
                        {{/each}}
                    </p>
                </div>    
            </div> 
        </div>
    {{/each}}
    </div>
</template>

<template name="useridentry">
	<div class="enter-id">
    	<input type="password" id="student-id-entry" autofocus />
    </div>
</template>

<template name="studenthelp">
    <div style="text-align:center">
	   <h2>Hello, {{studentName}}</h2>
        <h4>Please touch one of the following two options:</h4>
    </div>
    <div class="row-fluid">
        <button class="btn btn-primary btn-large span3 offset3"  id="needHelp">I need help</button>    
        <button class="btn btn-primary btn-large span3" id="noHelp">I'm just chillin' :)</button>
    </div>
</template>

<template name="courseselection">
    <div style="text-align:center">
        <h2>Please select the course you need help with:</h2>
    </div>
    <div class="courses">
        {{#each courses}}
            <button class="btn btn-info btn-large" value="{{abbr}}">{{abbr}}</button>
        {{/each}}
    </div>
</template>
