<template name="tapoutqueue">
    <h1>Tap Out</h1>
    {{#if signedInStudents}}
    <table class="table table-striped">
    	<thead>
    		<th>Name</th>
    		<th>Time in Sandbox</th>
    		<th>Tap Out</th>
    	</thead>
    	<tbody>
	    {{#each signedInStudents}}
	    	<tr>
	        	{{> student}}
	    	</tr>
	    {{/each}}
    	</tbody>
    </table>
    {{else}}
    <h2>No one here</h2>
    {{/if}}
    {{#if checkFrontScreen}}
        <button class="btn btn-success back-to-dash">Back to Dashboard</button>
    {{/if}}
</template>

<template name="student">
    <td>{{name}}</td>
    <td>{{timeDiff}} minutes</td>
    <td>
    	<button class="btn btn-danger">Leave</button>
    </td>    
</template>
