<template name="tutorqueue">
    <div class="sandbox-logo">
        <img src="logo.png">
    </div>
    <h1>Tutor Queue</h1>
    {{#if needHelpStudents}}
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Time Waiting</th>
            <th></th>
        </thead>
        <tbody>
        {{#each needHelpStudents}}
            <tr>
                {{> needhelp}}
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{else}}
        <h2>No one here</h2>
    {{/if}}
</template>

<template name="needhelp">   
    <td>{{name}}</td>
    <td>{{timeDiff}} minutes</td>
    <td>
        <button class="btn btn-success"><i class="icon-pencil icon-white"></i> Tutor Form</button>
    </td>    
</template>